body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}
.container{
    width: 100%;
    margin-left: auto;
    max-width: 400px;
    margin-right: 15px;
    padding: 20px;
    background-color: hsl(0, 0%, 96%);
    border-radius: 10px;
    margin-top: 10px;
    text-align: center;
}
.header, .footer{
    margin-left: auto;
    margin-right: 15px;
    width: 100%;
    max-width: 400px;
    text-align: center;
}
.footer{
    margin-top: 20px;
}
form{
    flex-direction: column;
    padding: 10px;
}