body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}
h1{
    font-size: 30px;
    font-weight: bolder;
    margin-top: 5px;
    margin-bottom: 5px;
}
p{
    font-size: 15px;
    margin-top: 5px;
    font-weight: bold;
}
.container{
    width: 100%;
    margin-left: auto;
    max-width: 400px;
    margin-right: 15px;
    padding: 20px;
    background-color: hsl(0, 0%, 96%);
    border-radius: 10px;
    margin-top: 10px;
    border: 5px solid rgb(218, 210, 210);
    justify-content: flex-start;
}
.header, .footer{
    margin-left: auto;
    margin-right: 15px;
    width: 100%;
    max-width: 400px;
    text-align: center;
}
.footer{
    margin-top: 20px;
}
form{
    flex-direction: column;
    padding: 20px;
    justify-content: flex-start;
}
input[type="text email"], input[type="password"]{
    font-size: 20px;
    width: 100%;
    font-weight: bolder;
    border: 3px solid grey;
    border-radius: 5px;
}
.a-1{
    margin-left: 140px;
    text-decoration: none;
    font-weight: bolder;
}
label{
    font-size: 16px;
    font-weight: bolder;
}
button{
    color: rgb(116, 116, 233);
    border: 3px solid rgb(142, 142, 206);
    border-radius: 4px;
    font-size: 20px;
    text-align: center;
    align-items: center;
    width: 100%;
}
button:hover{
    background-color: rgba(45, 45, 219, 0.753);
    cursor: pointer;
}
button:active{
    transform: scale(0.98);
    cursor: not-allowed;
}
button:disabled{
    background-color: lightgrey;
    color: grey;
    border: 3px solid grey;
    cursor: not-allowed;
}
.a-2{
    color: white;
    background-color: rgb(22, 112, 143);
    font-size: 25px;
    text-decoration: none;
    border: 3px solid light blue;
    border-radius: 5px;
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
}
img{
    background-color: none;
}
input[type="checkbox"]:checked{
    transform: scale(1.5);
    margin-right: 10px;
    color: green;
}
input[type="text email"]:focus, input[type="password"]:focus{
    outline: none;
    border: 3px solid blue;
    box-shadow: 0 0 5px rgba(0, 0, 255, 0.5);
}
input[type="text email"]:valid, input[type="password"]:valid{
    border: 3px solid rgb(114, 231, 114);
}
input[type="text email"]:invalid, input[type="password"]:invalid{
    border: 3px solid rgb(224, 112, 112);
}
footer{
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
    color: grey;
}